<div class="flex flex-col bg-white rounded-2xl shadow-md p-6 w-full text-[#4B4B4B]">
  <!-- Titre -->
  <p class="font-bold text-xl text-center mb-6">Équipe</p>

  <!-- Grille des membres -->
  <div class="grid grid-cols-3 gap-4">
    <div *ngFor="let member of members$ | async">
      <div class="flex flex-col items-center text-center">
        <div class="w-16 h-16 rounded-full overflow-hidden mb-2 border-2 border-[#7BC67E]">
          <img src="/images/Avatar.png" alt="avatar" class="w-full h-full object-cover">
        </div>
        <p class="text-sm font-medium">{{ member.first_name }}</p>
        <p class="text-sm text-gray-500">{{ member.last_name }}</p>
      </div>
    </div>
  </div>
</div>
