<footer class="flex justify-between items-center px-4 py-1 bg-gradient-to-br from-green-400 to-green-400 shadow-md relative z-[1000] md:px-4 md:py-2">
  <!-- Logo et nom de l'application -->
  <div class="flex items-center gap-3">
    <div class="w-48 h-auto">
      <img src="/images/logo-long.png" alt="FreshPilot Logo" class="w-full h-full object-contain" />
    </div>
    <div class="text-white">
        <p> © 2026 Freshpilot Tous droits réservés </p>
    </div>
    <div class="text-xs">
        <p>Alicia ABDOULAZIZE & Sivan COZZO</p>
    </div>
  </div>
</footer>
